<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Add a Dog</title>
</head>
<body>
<h1>Add a Dog to the Show</h1>
    <form th:action="@{/user/adddog}" method="post" th:object="${dog}">
        Name: <input type="text" th:field="*{dogName}" />
        Owner's Name: <input th:readonly="${isAdmin ? 'false' : 'true'}"
                             type="text" th:field="*{ownerName}" value="test"/>
        Breed:
            <select th:field="*{breed}" th:value="*{breed}">
                    <option th:each="breed, stat : ${breeds}"
                            th:text="${breed}"
                            th:value="${stat.count}"></option>
            </select>
Gender:
        <label for="male" name="gender">Male</label>
        <input type="radio" id="male" name="gender" th:field="*{gender}" value="male">
        <label for="female" name="gender" >Female</label>
        <input type="radio" id="female" name="gender" th:field="*{gender}" value="female">
Competition Pathway:
        <label for="class" name="class-spec">Class</label>
        <input type="radio" id="class" name="class-spec" th:field="*{pathway}" value="class">
        <label for="female" name="gender">Speciality</label>
        <input type="radio" id="spec" name="class-spec" th:field="*{pathway}" value="spec">

        <input type="submit" value="Add Dog">
    </form>
</body>
</html>