<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>HOME - Burlington Dog Show</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header">
    <h1>Burlington Dog Show</h1>
    <nav>
        <a th:href="@{/}">Home</a> |
        <a th:href="@{/user}">User Page</a> | <span th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <a th:case="${false}" th:href="@{/login}">Login</a>
    <a th:case="${true}" th:href="@{/logout}">Logout</a>
    </span> |
        <a th:href="@{/register}">Register</a> |
        <a th:href="@{/showlist}">Show List</a>
    </nav>
</header>
<form th:action="@{/user/editdog}" method="post" th:object="${dog}">
    <input type="hidden" th:field=*{dogId} th:value="*{dogId}" />
    Name: <input type="text" th:field="*{dogName}" />
    Owner's Name: <input th:readonly="${isAdmin ? 'false' : 'true'}"
                         type="text" th:field="*{ownerName}" value="test"/>
    Breed:
<!--    Using th:field to auto set name/id breaks 'selected' functionality for some reason.  Manually setting fixes.-->
    <select name="breed" id="breed">
        <option th:each="breed, stat : ${breeds}"
                th:selected="(*{breed} == ${breed})"
                th:text="${breed}"
                th:value="${stat.count}"></option>
    </select>
    Gender:
    <label for="male" name="gender">Male</label>
    <input type="radio" id="male" name="gender" th:field="*{gender}" value="male">
    <label for="female" name="gender" >Female</label>
    <input type="radio" id="female" name="gender" th:field="*{gender}" value="female">
    Competition Pathway:
    <label for="class" name="class-spec">Class</label>
    <input type="radio" id="class" name="class-spec" th:field="*{pathway}" value="class">
    <label for="female" name="gender">Speciality</label>
    <input type="radio" id="spec" name="class-spec" th:field="*{pathway}" value="speciality">

    <input type="submit" value="Update Dog">
</form>
</body>
</html>