<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>HOME - Burlington Dog Show</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header">
    <h1>Your Registered Dogs</h1>
    <nav>
        <a th:href="@{/user}">User Page</a> | <span th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <a th:case="${false}" th:href="@{/login}">Login</a>
    <a th:case="${true}" th:href="@{/logout}">Logout</a>
    </span> |
        <a th:href="@{/register}">Register</a> |
        <a th:href="@{/showlist}">Show List</a>
    </nav>
</header>
<main>
<table>
<td>
    <tr>
        <th>Dog Name</th>
        <th>Owner</th>
        <th>Dog Breed</th>
        <th>Dog Gender</th>
        <th>Dog Pathway</th>
        <th>Options</th>
    </tr>
    <tr th:each="dog: ${dogs}">
        <td th:text="${dog.dogName}"></td>
        <td th:text="${dog.ownerName}"></td>
        <td th:text="${dog.breed}"></td>
        <td th:text="${dog.gender}"></td>
        <td th:text="${dog.pathway}"></td>
        <td><a th:href="@{/user/editdog(dogid=${dog.dogId})}">EDIT</a> | <a th:href="@{/user/deleteconfirm(id=${dog.dogId})}">DELETE</a></td>
    </tr>
</td>
</table>
</main>
</body>
</html>